Source: debathena-transform-lighttpd
Section: httpd
Priority: optional
Maintainer: Linutronix GmbH <info@linutronix.de>
Build-Depends: debhelper-compat (= 12), config-package-dev (>= 4.15), lighttpd
Standards-Version: 3.9.2
Rules-Requires-Root: no

Package: debathena-transform-lighttpd
Architecture: all
Depends: ${misc:Depends}, lighttpd
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: lighttpd config-package-dev package
 This config-package-dev package updates the lighttpd configuration for
 use within the elbe initvm.
