Source: debathena-transform-rng-tools
Section: config
Priority: extra
Maintainer: Torben Hohn <torbenh@linutronix.de>
Build-Depends: debhelper (>= 7.0.0~), config-package-dev (>= 4.15), rng-tools
Standards-Version: 3.9.2

Package: debathena-transform-rng-tools
Architecture: all
Depends: ${misc:Depends}, rng-tools
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: rng-tools config-package-dev package
 This config-package-dev package updates the rng-tools configuration for
 use within the elbe initvm.
