tags
.pybuild
elbe.egg-info
debian/elbe-bootup-check/
debian/python3-elbe-buildenv/
debian/python3-elbe-bin/
debian/python3-elbe-common/
debian/python3-elbe-control/
debian/elbe-daemon/
debian/elbe-debianize/
debian/elbe-doc/
debian/elbe-schema/
debian/elbe-soap/
debian/elbe-updated/
*.debhelper
*.substvars
debian/elbe-bootup-check/
debian/elbe-daemon/
debian/elbe-buildchroot/
debian/elbe-adjustpkg/
debian/debhelper-build-stamp
*.pyc
build
docs/_build
docs/*.1
docs/*.html
docs/*.png
docs/*.xml
docs/elbe*.rst
docs/article-*.rst
docs/manpage-base-url.xsl
docs/elbe-examples.txt
docs/elbe-schema-reference.txt
debian/.control.swp
debian/elbe.debhelper.log
debian/elbe
debian/files
docs/manpage-base-url.xsl
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/elbe-buildenv
debian/elbe-common/
debian/elbe-doc/
debian/elbe-updated/
debian/elbe-control/
debian/elbe-soap/
debian/tmp/
dist/
elbe.egg-info/
tags
*.swp
*~
\#*#
*.patch
contrib/debathena-transform-lighttpd/debian/*.log
contrib/debathena-transform-lighttpd/debian/debathena-transform-lighttpd/
contrib/debathena-transform-lighttpd/debian/debhelper-build-stamp
contrib/debathena-transform-lighttpd/debian/files

# initvm and ELBE builds
initvm/
elbe-build-*/
