Source: elbe
Section: misc
Priority: optional
Maintainer: Manuel Traut <manut@linutronix.de>
Build-Depends: debhelper (>= 9),
  dh-python,
  dh-systemd,
  python-setuptools,
  python (>= 2.7~),
  python3,
  python3-setuptools,
  python3-lxml,
  python3-mako,
  dia,
  asciidoc,
  xmlto,
  lintian,
  source-highlight,
  git,
  xml-core,
  pandoc
Standards-Version: 3.9.6
Homepage: http://elbe-rfs.org

Package: elbe-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: man-pages, examples and documentation
 man-pages for elbe and all elbe subcommands. Some documentation and howtos.
 And examples for several targets.

Package: elbe-schema
Architecture: all
Conflicts: elbe-common
Depends: ${misc:Depends}
Description: xml schema files
 Common files for ELBE (embedded linux build environment). These
 schemas are used by ELBE.

Package: python-elbe-bin
Conflicts: elbe (<< 12.3), elbe-common, python3-elbe-bin
Architecture: all
Depends: python-elbe-common (= ${binary:Version}),
  python (>= 2.7~),
  python-mako,
  debian-archive-keyring (>= 2017.5+deb9u1)
Description: elbe executable
 Common files for ELBE (embedded linux build environment). These
 python-modules are shared by several elbe subcommands.

Package: python3-elbe-bin
Conflicts: elbe (<< 12.3), elbe-common, python-elbe-bin
Architecture: all
Depends: python3-elbe-common (= ${binary:Version}),
  python3,
  python3-mako,
  debian-archive-keyring (>= 2017.5+deb9u1)
Description: elbe executable
 Common files for ELBE (embedded linux build environment). These
 python modules are shared by several elbe subcommands.

Package: python-elbe-common
Architecture: all
Conflicts: elbe-common
Depends: ${misc:Depends},
  elbe-schema (= ${binary:Version}),
  python (>= 2.7~),
  python-lxml,
  python-apt,
  python-gpg,
  python-libvirt,
  wget,
  cpio
Description: common files
 Common files for ELBE (embedded linux build environment). These
 python-modules are shared by several elbe subcommands.

Package: python3-elbe-common
Architecture: all
Depends: ${misc:Depends},
  elbe-schema (= ${binary:Version}),
  python3,
  python3-lxml,
  python3-apt,
  python3-gpg,
  python3-libvirt,
  wget,
  cpio
Description: common files
 Common files for ELBE (embedded linux build environment). These
 python-modules are shared by several elbe subcommands.

Package: elbe-debianize
Architecture: all
Conflicts: elbe-debianize
Depends: ${misc:Depends},
  python (>= 2.7~),
  python3,
  devscripts,
  libdistro-info-perl,
  libparse-debcontrol-perl,
  python-elbe-common (= ${binary:Version}),
  python3-elbe-common (= ${binary:Version}),
  python-urwid,
  python3-urwid,
  python-pkg-resources,
  python3-pkg-resources
Description: Wizard for debian folder generation
 Assists users in generating a debianization for a given source code project.

Package: elbe
Architecture: all
Depends: ${misc:Depends},
  python-elbe-bin (= ${binary:Version}) | python3-elbe-bin (= ${binary:Version}),
  python-elbe-control (= ${binary:Version}) | python3-elbe-control (= ${binary:Version}),
  qemu-utils,
  qemu-kvm (>= 1:2.1),
  p7zip-full,
  make,
  lsb-release
Recommends: elbe-doc (= ${binary:Version}), elbe-debianize, haveged
Description: Embedded Linux Build Environment
 A flexible Root Filesystem builder. ELBE uses Debian packages to build a RFS
 for (embedded) targets. A target is described with a single XML file. Besides
 the target image, licence information, source cdroms, etc. are generated.

Package: elbe-daemon
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-elbe-bin (= ${binary:Version}),
  python-elbe-common (= ${binary:Version}),
  python-elbe-buildenv (= ${binary:Version}),
  python-cherrypy3, python-beaker, openssh-server, lsb-base (>= 3.0-6)
Description: wsgi daemon interface
 subcommand to start wsgi services.

Package: python3-elbe-buildenv
Architecture: all
Depends: ${misc:Depends},
  python3,
  apt-rdepends,
  binfmt-support,
  debootstrap,
  dosfstools,
  dpkg-dev,
  python3-elbe-bin (= ${binary:Version}),
  python3-elbe-common (= ${binary:Version}),
  genisoimage,
  mtd-utils,
  python3-apt,
  python3-junit.xml,
  python3-mako,
  python3-parted,
  python3-passlib,
  python3-sqlalchemy,
  python3-debian,
  qemu-user-static,
  qemu-utils,
  reprepro,
  rsync,
  kpartx,
  squashfs-tools,
  sudo,
  pbuilder,
  git,
  ca-certificates,
  subversion,
  haveged
Description: Embedded Linux Build Environment Server Component
 This package is typically installed in a virtual machine (that can be created
 with the 'elbe initvm create' command from the 'elbe' package). Several
 subcommands need to be executed with root privileges. It is not recommended to
 install this package on a native system.


Package: python-elbe-buildenv
Architecture: all
Conflicts: elbe-buildenv
Depends: ${misc:Depends},
  python (>= 2.7~),
  apt-rdepends,
  binfmt-support,
  debootstrap,
  dosfstools,
  dpkg-dev,
  python-elbe-bin (= ${binary:Version}),
  python-elbe-common (= ${binary:Version}),
  genisoimage,
  mtd-utils,
  python-apt,
  python-junit.xml,
  python-mako,
  python-parted,
  python-passlib,
  python-sqlalchemy,
  python-debian,
  qemu-user-static,
  qemu-utils,
  reprepro,
  rsync,
  kpartx,
  squashfs-tools,
  sudo,
  pbuilder,
  git,
  ca-certificates,
  subversion,
  haveged
Recommends: elbe-daemon (= ${binary:Version}),
  elbe-soap (= ${binary:Version})
Description: Embedded Linux Build Environment Server Component
 This package is typically installed in a virtual machine (that can be created
 with the 'elbe initvm create' command from the 'elbe' package). Several
 subcommands need to be executed with root privileges. It is not recommended to
 install this package on a native system.

Package: elbe-bootup-check
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-elbe-bin (= ${binary:Version}),
  python-elbe-common (= ${binary:Version}),
  python-apt, lsb-base (>= 3.0-6)
Description: bootup checker
 This package is typically installed on a embedded system. The bootup checker
 shows some information about the installed software on the embedded device.

Package: elbe-soap
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-spyne,
  python-elbe-buildenv (= ${binary:Version}),
  elbe-daemon (= ${binary:Version})
Description: SOAP Interface for elbe buildenv
 Enables remote control of the elbe buildenv via SOAP.

Package: python-elbe-control
Architecture: all
Conflicts: elbe-control
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-suds,
  python-debian,
  python-elbe-common (= ${binary:Version}),
  libvirt-clients,
  libvirt-daemon-system
Description: Commandline Tool to control an elbe buildenv
 The SOAP Interface is used to control an elbe buildenv.

Package: python3-elbe-control
Architecture: all
Depends: ${misc:Depends},
  python3,
  python3-suds,
  python3-debian,
  python3-elbe-common (= ${binary:Version}),
  libvirt-clients,
  libvirt-daemon-system
Description: Commandline Tool to control an elbe buildenv
 The SOAP Interface is used to control an elbe buildenv.


Package: elbe-updated
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-elbe-bin (= ${binary:Version}),
  python-elbe-common (= ${binary:Version}),
  python-lxml (>= 2.3.2-1),
  python-pyinotify,
  python-apt,
  python-suds,
  python-spyne,
  lsb-base (>= 3.0-6)
Suggests: python-pyudev,
  usbmount
Description: update daemon for embedded systems
 This package is typically installed on a embedded system. The update daemon
 monitors a directory or USB mounts. If an ELBE update file (generated by
 'elbe gen_update' command from the 'python-elbe-buildenv' package) is placed in this
 directory the update will be applied.
 Downgrades are possible by the integrated SOAP interface.
