Source: elbe
Section: misc
Priority: optional
Maintainer: Torben Hohn <torbenh@linutronix.de>
Build-Depends: cdbs (>= 0.4.89), debhelper (>= 7), python (>= 2.6.6-3~), python-mako, python-lxml, dia, asciidoc, xmlto, source-highlight
Standards-Version: 3.7.3
Homepage: http://elbe-rfs.org

Package: elbe
Architecture: all
Depends: qemu-utils, qemu-system, e2tools, python-mako, python (>= 2.6.6-3~), python-lxml, python-apt, p7zip-full, make, python-parted
Recommends: qemu-kvm
Description: RootFS build system. 
 Elbe is a flexible Root Filesystem builder.

