Source: elbe
Section: misc
Priority: optional
Maintainer: Manuel Traut <manut@linutronix.de>
Build-Depends: dh-python,
  debhelper (>= 7),
  python (>= 2.7~),
  python-mako,
  python-lxml,
  dia,
  asciidoc,
  xmlto,
  lintian,
  source-highlight,
  git,
  pandoc
Standards-Version: 3.9.6
Homepage: http://elbe-rfs.org

Package: elbe-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: man-pages, examples and documentation
 man-pages for elbe and all elbe subcommands. Some documentation and howtos.
 And examples for several targets.

Package: elbe-common
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-lxml,
  python-apt,
  python-gpgme,
  python-pyme|python-gpg,
Description: common files
 Common files for ELBE (embedded linux build environment). These
 python-modules are shared by several elbe subcommands.

Package: elbe
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  elbe-common (= ${binary:Version}),
  elbe-control (= ${binary:Version}),
  qemu-utils,
  qemu-kvm (>= 1:2.1),
  python-mako,
  p7zip-full,
  make
Recommends: elbe-doc (= ${binary:Version})
Description: Embedded Linux Build Environment
 A flexible Root Filesystem builder. ELBE uses Debian packages to build a RFS
 for (embedded) targets. A target is described with a single XML file. Besides
 the target image, licence information, source cdroms, etc. are generated.

Package: elbe-daemon
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  elbe-common (= ${binary:Version}),
  elbe-buildenv (= ${binary:Version}),
  python-cherrypy3, python-beaker, openssh-server
Description: wsgi daemon interface
 subcommand to start wsgi services.

Package: elbe-buildenv
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  apt-rdepends,
  binfmt-support,
  debootstrap,
  dosfstools,
  dpkg-dev,
  elbe-common (= ${binary:Version}),
  genisoimage,
  mtd-utils,
  python-apt,
  python-mako,
  python-parted,
  python-passlib,
  python-sqlalchemy,
  qemu-user-static,
  reprepro,
  rsync,
  kpartx,
  squashfs-tools,
  sudo,
  pbuilder
Recommends: elbe-daemon (= ${binary:Version}),
  elbe-soap (= ${binary:Version})
Description: Embedded Linux Build Environment Server Component
 This package is typically installed in a virtual machine (that can be created
 with the 'elbe initvm create' command from the 'elbe' package). Several
 subcommands need to be executed with root privileges. It is not recommended to
 install this package on a native system.

Package: elbe-bootup-check
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  elbe-common (= ${binary:Version}),
  python-apt
Description: bootup checker
 This package is typically installed on a embedded system. The bootup checker
 shows some information about the installed software on the embedded device.

Package: elbe-soap
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-soaplib,
  elbe-buildenv (= ${binary:Version}),
  elbe-daemon (= ${binary:Version})
Description: SOAP Interface for elbe buildenv
 Enables remote control of the elbe buildenv via SOAP.

Package: elbe-control
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  python-suds,
  elbe-common (= ${binary:Version}),
  tmux (>= 1.9)
Description: Commandline Tool to control an elbe buildenv
 The SOAP Interface is used to control an elbe buildenv.

Package: elbe-updated
Architecture: all
Depends: ${misc:Depends},
  python (>= 2.7~),
  elbe-common (= ${binary:Version}),
  python-lxml (>= 2.3.2-1),
  python-tz (>= 2012c-1),
  python-pyinotify,
  python-apt,
  python-suds,
  python-soaplib
Suggests: python-pyudev,
  usbmount
Description: update daemon for embedded systems
 This package is typically installed on a embedded system. The update daemon
 monitors a directory or USB mounts. If an ELBE update file (generated by
 'elbe gen_update' command from the 'elbe-buildenv' package) is placed in this
 directory the update will be applied.
 Downgrades are possible by the integrated SOAP interface.
