[Unit]
Description=ELBE initvm
Documentation=man:elbe-initvm(1)

[Service]
Type=forking
EnvironmentFile=/etc/default/elbe
ExecStart=/usr/bin/elbe initvm --directory ${INITVMDIR} start
ExecStop=/usr/bin/elbe initvm --directory ${INITVMDIR} stop

[Install]
WantedBy=multi-user.target
