[Unit]
Description=ELBE Update Daemon
Documentation=man:elbe-updated(1)

[Service]
Type=simple
ExecStart=/usr/bin/elbe updated

[Install]
WantedBy=multi-user.target
