[Unit]
Description=ELBE Update Daemon
Documentation=man:elbe-updated(1)

[Service]
Type=simple
EnvironmentFile=/etc/default/python3-elbe-updated
ExecStart=/usr/bin/elbe $DAEMON_ARGS

[Install]
WantedBy=multi-user.target
