#!/usr/bin/make -f

override_dh_auto_configure:
	cd docs && $(MAKE)

override_dh_clean:
	dh_clean
	$(MAKE) -C docs clean

override_dh_compress:
	dh_compress -X.xml

override_dh_systemd_start:
	dh_systemd_start --no-package=elbe

override_dh_systemd_stop:
	dh_systemd_stop --no-package=elbe

override_dh_install:
	dh_install
	dh_installxmlcatalogs

%:
	dh --with systemd --buildsystem=python_distutils --with python2 $@
