#!/usr/bin/make -f

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKE_OPTS += -j$(NUMJOBS)
endif

override_dh_auto_test:
	echo 'skip tests'

override_dh_auto_configure:
	cd docs && $(MAKE) $(MAKE_OPTS)

override_dh_clean:
	dh_clean
	$(MAKE) $(MAKE_OPTS) -C docs clean

override_dh_compress:
	dh_compress -X.xml

override_dh_installinit:
	dh_installinit --no-package=elbe

override_dh_install:
	dh_install
	dh_installxmlcatalogs

%:
	dh $@ --buildsystem=pybuild --with python3 --with bash-completion
